<div class="offers">
  <div class="section-title black">SPECIAL OFFERS</div>
  <div class="container">
    <div class="row my-5">
      <div class="col-md-4" *ngFor="let offer of specialOffers">
        <div class="offers-box" *ngIf="offer.imagePaths">
          <img class="offers-box-image" [src]="offer.imagePaths[0]" alt="Offer" />
          <div class="offers-box-overlay">
            <div class="offer-box-info">
              <div class="offer-box-info-head">{{ offer.title }}</div>
              <div class="offer-box-info-lines">{{ offer.tourDate }}</div>

              <div class="offer-box-info-lines">{{ offer.shortTag }}</div>
              <div class="offer-box-info-lines">{{ offer.duration }}</div>
              <div class="offer-box-info-lines">{{ offer.price }} Taka</div>
              <a class="btn offer-box-info-btn" routerLink="/special-offer/{{offer.id}}">SEE MORE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>