.partners {
  &-image1 {
    width: 165px;
  }
  &-image2 {
    padding-top: 90px;
    width: 165px;
  }
  &-image3 {
    padding-top: 75px;
    width: 165px;
  }
  &-image4 {
    width: 165px;
  }
}
