<div class="services">
  <div class="section-title black">OUR SERVICES</div>

  <div class="container">
    <div class="row ">
      <div class="col-md-4 p-0">
        <div class="services-card">
          <a
            class="services-card-link"
            routerLink="/hotels"
            style="background-image: url(/assets/images/services/hotel-book.jpg);"
          >
            <h3>Hotel</h3>
            <p>Booking</p>
          </a>
        </div>
      </div>
      <div class="col-md-4 p-0">
        <div class="services-card">
          <a
            class="services-card-link"
            routerLink="/"
            style="background-image: url(/assets/images/services/transp.jpg);"
          >
            <h3>Flight</h3>
            <p>Reservation</p>
          </a>
        </div>
      </div>
      <div class="col-md-4 p-0">
        <div class="services-card">
          <a
            class="services-card-link"
            routerLink="/"
            style="background-image: url(/assets/images/services/event.jpg);"
          >
            <h3>Bus</h3>
            <p>Ticketing</p>
          </a>
        </div>
      </div>
      <div class="col-md-4 p-0">
        <div class="services-card">
          <a
            class="services-card-link"
            href="https://ship.hotelswave.com"
            style="background-image: url(/assets/images/services/ship-ticketing.jpg);"
            target="_blank"
          >
            <h3>Ship</h3>
            <p>Ticketing</p>
          </a>
        </div>
      </div>
      <div class="col-md-4 p-0">
        <div class="services-card">
          <a
            class="services-card-link"
            routerLink="/packages"
            style="background-image: url(/assets/images/services/holiday-packages.jpg);"
          >
            <h3>Holiday</h3>
            <p>Packages</p>
          </a>
        </div>
      </div>

      <div class="col-md-4 p-0">
        <div class="services-card">
          <a
            class="services-card-link"
            rotuerLink="/"
            style="background-image: url(/assets/images/services/group-book.jpg);"
          >
            <h3>Group</h3>
            <p>Booking</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
