<div class="follow">
  <div class="section-title white">FOLLOW US</div>
  <div class="container ">
    <div class="row my-5">
      <div class="col-md-2 col-sm-4 col-6 pb-3">
        <a href="https://www.google.com/" target="_blank">
          <div class="follow-icon"><i class="fa fa-facebook"></i></div>
          <div class="follow-text">FACEBOOK</div>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-6 pb-3">
        <a href="https://www.google.com/" target="_blank">
          <div class="follow-icon"><i class="fa fa-twitter"></i></div>
          <div class="follow-text">TWITTER</div>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-6 pb-3">
        <a href="https://www.google.com/" target="_blank">
          <div class="follow-icon"><i class="fa fa-pinterest"></i></div>
          <div class="follow-text">PINTEREST</div>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-6 pb-3">
        <a href="https://www.google.com/" target="_blank">
          <div class="follow-icon"><i class="fa fa-linkedin"></i></div>
          <div class="follow-text">LINKEDIN</div>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-6 pb-3">
        <a href="https://www.google.com/" target="_blank">
          <div class="follow-icon"><i class="fa fa-google-plus"></i></div>
          <div class="follow-text">GOOGLE +</div>
        </a>
      </div>
      <div class="col-md-2 col-sm-4 col-6 pb-3">
        <a href="https://www.google.com/" target="_blank">
          <div class="follow-icon"><i class="fa fa-instagram"></i></div>
          <div class="follow-text">INSTAGRAM</div>
        </a>
      </div>
    </div>
  </div>
</div>
