<div class="search-box">
  <div class="container search-container">
    <div class="d-flex search-box-tab">
      <ul class="nav nav-tabs border-0" >
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{ active: formNumber == 1 }" (click)="setFormNumber(1)">
            Hotel
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="{ active: formNumber == 2 }" (click)="setFormNumber(2)">
            Ships
          </a>
        </li>
      </ul>
    </div>
    <form *ngIf="formNumber == 1" role="form" class="d-flex align-items-start search-box-form">
      <input type="search" placeholder="Hotel Name or Destination" class="search-box-form-input" [(ngModel)]="hotelSearch" name="hotelSearch"
      />
      <button class="search-box-form-button" type="submit" (click)="searchHotel()">
        <i class="fa fa-search d-block d-md-none"></i>
        <span class="d-none d-md-block">SEARCH</span>
      </button>
    </form>
    <!-- Ship search box -->
    <form *ngIf="formNumber == 2" role="form" class="d-flex align-items-start search-box-form">
      <input type="search" placeholder="Ship Name or Destination" class="search-box-form-input" [(ngModel)]="shipSearch" name="shipSearch"
      />
      <button class="search-box-form-button" type="submit" (click)="searchShip()">
        <i class="fa fa-search d-block d-md-none"></i>
        <span class="d-none d-md-block">SEARCH</span>
      </button>
    </form>
  </div>
</div>