@import '../../../assets/theme.scss';
.search-container{
  width: 60%;
}
.search-box {
  height: calc(100vh - 129px);
  background-image: url(/assets/images/bed1.jpg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 100%;
  text-align: center;
  padding-top: 15%;
  &-text {
    padding-top: 10%;
    font-size: 28px;
    font-weight: 600;
    color: #2a2a34;
    letter-spacing: 3px;
    line-height: 1.42;
    font-family: Copperplate, 'Copperplate Gothic Light', 'Alegreya Sans SC',
      sans-serif;
  }
  &-form {
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.07);
    // background-color: white;
    &-input {
      width: 75%;
      padding: 5px 20px 5px 53px;
      height: 50px;
      font-family: Poppins, sans-serif;
      color: #848484;
      border: 0;
      outline: 0;
    }
    &-button {
      width: 25%;
      min-width: calc(15% + 1px);
      padding: 10px 10px;
      height: 50px;
      font-family: Poppins, sans-serif;
      border: none;
      border-radius: 0;
      -webkit-border-radius: 0;
      -webkit-appearance: none;
      box-sizing: border-box;
      color: #fff;
      background-color: $primary-color;
      font-family: 'Questrial';
      font-weight: 700;
      letter-spacing: 2px;
      cursor: pointer;
      &:hover{
        color: $accent-color;
      }
    }
  }
}

.nav-link {
  cursor: pointer;
  background-color: $primary-color;
  color: white !important;
  font-size: 14px;
  padding: 0.5rem 2rem;
  border-radius: 0;
}
.nav-link:hover{
  color: $accent-color !important;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057 !important;
  background-color: #fff;
  border-color: #fff;
}

.flight-form {
  box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.07);
  background-color: gainsboro;
  &-input {
    width: 100%;
    padding: 16px 20px 16px 20px;
    height: 78px;
    font-family: Poppins, sans-serif;
    color: #848484;
    border: 0;
    border-right: 1px solid #f1f1f1;
  }
  &-input2 {
    // width: auto;
    padding: 16px 20px 16px 20px;
    height: 78px;
    font-family: Poppins, sans-serif;
    color: #848484;
    border: 0;
    border-radius: 0;
    border-right: 1px solid #f1f1f1;
  }
  &-button {
    width: 100%;
    min-width: calc(15% + 1px);
    padding: 28px 10px;
    max-height: 80px;
    font-family: Poppins, sans-serif;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    color: #fff;
    background-color: #3fd0d4;
    font-family: 'Questrial';
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.2rem 1rem;
  }
  .search-container{
    width: 85%;
  }
  .search-box {
    height: 250px;
    background-position: top;
    background-size: 100% 250px;
    &-text {
      font-size: 18px;
      letter-spacing: 0;
    }
    &-form {
      &-input {
        width: 75%;
        height: 35px;
        font-size: 10pt;
        padding-left: 10px;
      }
      &-button {
        height: 35px;
        // width: 40px;
        padding: 1px 7px 2px 7px;
      }
    }
  }
  .flight-form-input {
    padding: 5px 15px;
    height: 35px;
    border-bottom: 1px solid #f1f1f1;
  }
  .flight-form-input2 {
    padding: 5px 15px;
    height: 35px;
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
  }
  .flight-form-button {
    height: 35px;
    padding: 5px 10px;
  }
}
